.container,
.container-fluid {
  padding-top: 30px;
}

.form-control+.input-group-addon {
  label {
    margin-bottom: 0;
  }
}

.item-actions {
  display: none;
}

.list-group-item {
  &:hover {
    .item-actions {
      display: block;
    }
  }
}
