<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"
    data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Grosh List</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--<ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>-->
    <!--<form class="form-inline my-2 my-lg-0 pull-right">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p class="lead">Items</p>
      <div class="alert alert-info" *ngIf="items?.length === 0">No items yet.</div>
      <ul class="list-group">
        <li *ngFor="let item of items" class="list-group-item justify-content-between" [class.list-group-item-warning]="item.isPriceEstimate">
          <div>
            {{item.name}} @ ${{item.price}}
            <span *ngIf="item.isPriceEstimate" class="badge badge-warning badge-pill">Estimate</span>
          </div>
          <div>
            <button (click)="editMode(item)" class="btn btn-link">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button (click)="deleteItem(item); $event.stopPropagation()" class="btn btn-link">
              <i class="fa fa-trash text-danger" aria-hidden="true"></i>
            </button>
          </div>
          <button class="btn btn-link text-success" (click)="addItemToShoppingList(item)">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </button>
        </li>
      </ul>

      <hr>

      <p class="lead">{{isEditMode ? 'Update' : 'Add'}} Item</p>

      <div class="card">
        <form autocomplete="off" novalidate class="card-block" (ngSubmit)="onSubmit(item)" [formGroup]="item">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Item name" formControlName="name">
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" id="price" class="form-control" placeholder="How much does it cost?" formControlName="price">
              <div class="input-group-addon">
                <label>
                  <input type="checkbox" formControlName="isPriceEstimate"> Estimate
                </label>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-success" [disabled]="item.invalid">{{isEditMode ? 'Update' : 'Create'}} Item</button>
          <button class="btn btn-link text-danger pull-right" (click)="cancel()">Cancel</button>

        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <p class="lead">Shopping List</p>
      <div class="alert alert-info" *ngIf="shoppingList.items?.length === 0">List is empty</div>
      <ul class="list-group">
        <li *ngFor="let item of shoppingList.items" class="list-group-item justify-content-between">

          <span class="item-details">
            <input type="checkbox"> 
            {{item.name}} @ {{item.price | currency:'USD':true}} &times; {{item.quantity}} 
            <button (click)="increaseQty(item)" class="btn btn-link">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> 
            </button>

            <button (click)="decreaseQty(item)" class="btn btn-link" [disabled]="item.quantity === 1">
              <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </button>
          </span>

          <span>
            {{item.price * item.quantity  | currency:'USD':true }} 
            <button (click)="removeFromList(item)" class="btn btn-link text-danger">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </span>

        </li>
        <li class="list-group-item list-group-item-success flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <span>TOTAL: {{total | currency:'USD':true}}</span>
            <span>TAX (10%): {{total * 0.1 | currency:'USD':true}}</span>
            <span>
              <strong>GRAND TOTAL: {{total + (total * 0.1) | currency:'USD':true}}</strong>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
